In [1]:
import pandas as pd

# FHV

In [2]:
df_fhv = pd.DataFrame()
for month in range(1, 13):
    df_fhv = pd.concat((df_fhv, pd.read_parquet(f"~/downloads/fhv_tripdata_2019-{month:02}.parquet")))

df_fhv.head()

/var/folders/y0/5f2jwbwn27ng96snkjkltj6h0000gn/T/ipykernel_14386/1754371005.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_fhv = pd.concat((df_fhv, pd.read_parquet(f"~/downloads/fhv_tripdata_2019-{month:02}.parquet")))
/var/folders/y0/5f2jwbwn27ng96snkjkltj6h0000gn/T/ipykernel_14386/1754371005.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_fhv = pd.concat((df_fhv, pd.read_parquet(f"~/downloads/fhv_tripdata_2019-{month:02}.parquet")))
/var/folders/y0/5f2jwbwn27ng96snkjkltj6h0000gn/T/ipykernel_14386/1754371005.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_fhv = pd.concat((df_fhv, pd.read_parquet(f"~/downloads/fhv_tripdata_2019-{month:02}.parquet")))
/var/folders/y0/5f2jwbwn27ng96snkjkltj6h0000gn/T/ipykernel_14386/1754371005.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_fhv = pd.concat((df_fhv, pd.read_parquet(f"~/downloads/fhv_tripdata_2019-{month:02}.parquet")))
/var/folders/y0/5f2jwbwn27ng96snkjkltj6h0000gn/T/ipykernel_14386/1754371005.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_fhv = pd.concat((df_fhv, pd.read_parquet(f"~/downloads/fhv_tripdata_2019-{month:02}.parquet")))
/var/folders/y0/5f2jwbwn27ng96snkjkltj6h0000gn/T/ipykernel_14386/1754371005.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_fhv = pd.concat((df_fhv, pd.read_parquet(f"~/downloads/fhv_tripdata_2019-{month:02}.parquet")))
/var/folders/y0/5f2jwbwn27ng96snkjkltj6h0000gn/T/ipykernel_14386/1754371005.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_fhv = pd.concat((df_fhv, pd.read_parquet(f"~/downloads/fhv_tripdata_2019-{month:02}.parquet")))
/var/folders/y0/5f2jwbwn27ng96snkjkltj6h0000gn/T/ipykernel_14386/1754371005.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_fhv = pd.concat((df_fhv, pd.read_parquet(f"~/downloads/fhv_tripdata_2019-{month:02}.parquet")))
/var/folders/y0/5f2jwbwn27ng96snkjkltj6h0000gn/T/ipykernel_14386/1754371005.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_fhv = pd.concat((df_fhv, pd.read_parquet(f"~/downloads/fhv_tripdata_2019-{month:02}.parquet")))
/var/folders/y0/5f2jwbwn27ng96snkjkltj6h0000gn/T/ipykernel_14386/1754371005.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_fhv = pd.concat((df_fhv, pd.read_parquet(f"~/downloads/fhv_tripdata_2019-{month:02}.parquet")))

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2019-01-01 00:30:00,2019-01-01 02:51:55,NaN,NaN,NaN,B00001
1,B00001,2019-01-01 00:45:00,2019-01-01 00:54:49,NaN,NaN,NaN,B00001
2,B00001,2019-01-01 00:15:00,2019-01-01 00:54:52,NaN,NaN,NaN,B00001
3,B00008,2019-01-01 00:19:00,2019-01-01 00:39:00,NaN,NaN,NaN,B00008
4,B00008,2019-01-01 00:27:00,2019-01-01 00:37:00,NaN,NaN,NaN,B00008

In [3]:
df_fhv.describe()

,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag
count,43261276,43261276,4.123719e+07,4.253757e+07,5.383635e+06
mean,2019-04-12 01:01:10.482539,2019-04-12 06:34:40.116056,1.913270e+02,1.825172e+02,1.903464e+00
min,2019-01-01 00:00:00,2019-01-01 00:01:42,0.000000e+00,0.000000e+00,1.000000e+00
25%,2019-01-16 10:20:22,2019-01-16 10:42:34,1.290000e+02,1.070000e+02,1.000000e+00
50%,2019-01-30 08:41:19,2019-01-30 09:02:34,2.340000e+02,2.170000e+02,2.000000e+00
75%,2019-07-02 08:59:18.750000,2019-07-02 12:24:37,2.640000e+02,2.650000e+02,2.000000e+00
max,2019-12-31 23:59:59,5201-09-11 14:03:07,2.650000e+02,2.650000e+02,4.300000e+01
std,NaN,NaN,8.410937e+01,8.632832e+01,1.150658e+00

In [4]:
df_fhv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43261276 entries, 0 to 2044195
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    object
 1   pickup_datetime         datetime64[us]
 2   dropOff_datetime        datetime64[us]
 3   PUlocationID            float64
 4   DOlocationID            float64
 5   SR_Flag                 float64
 6   Affiliated_base_number  object
dtypes: datetime64[us](2), float64(3), object(2)
memory usage: 2.6+ GB

In [5]:
df_fhv_cast = df_fhv.convert_dtypes()

In [6]:
df_fhv_cast.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43261276 entries, 0 to 2044195
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    string
 1   pickup_datetime         datetime64[us]
 2   dropOff_datetime        datetime64[us]
 3   PUlocationID            Int64
 4   DOlocationID            Int64
 5   SR_Flag                 Int64
 6   Affiliated_base_number  string
dtypes: Int64(3), datetime64[us](2), string(2)
memory usage: 2.7 GB

# Yellow

In [8]:
df_yellow = pd.DataFrame()
for year in [2019, 2020]:
    for month in range(1, 13):
        df_yellow = pd.concat((df_yellow, pd.read_parquet(f"~/downloads/yellow_tripdata_{year}-{month:02}.parquet")))

df_yellow.head()

KeyboardInterrupt:

In [ ]:
df_yellow.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,8.459844e+07,84598444,84598444,8.415406e+07,8.459844e+07,8.415406e+07,8.459844e+07,8.459844e+07,8.459844e+07,8.459844e+07,8.459844e+07,8.459844e+07,8.459844e+07,8.459844e+07,8.459844e+07,8.459844e+07,7.929784e+07
mean,1.647355e+00,2019-06-27 04:01:11.238375,2019-06-27 04:19:15.271857,1.562665e+00,3.018351e+00,1.061298e+00,1.630973e+02,1.612823e+02,1.282589e+00,1.341264e+01,1.090265e+00,4.942546e-01,2.190079e+00,3.868694e-01,2.986066e-01,1.919230e+01,2.194992e+00
min,1.000000e+00,2001-01-01 00:02:08,2001-01-01 01:00:02,0.000000e+00,-3.726453e+04,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-1.856000e+03,-6.000000e+01,-5.000000e-01,-2.210000e+02,-7.000000e+01,-3.000000e-01,-1.871800e+03,-2.500000e+00
25%,1.000000e+00,2019-03-26 07:34:29.750000,2019-03-26 07:50:15.750000,1.000000e+00,9.800000e-01,1.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.115000e+01,2.500000e+00
50%,2.000000e+00,2019-06-20 17:52:30,2019-06-20 18:14:22,1.000000e+00,1.630000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.500000e+00,5.000000e-01,5.000000e-01,1.860000e+00,0.000000e+00,3.000000e-01,1.475000e+01,2.500000e+00
75%,2.000000e+00,2019-09-30 07:54:16,2019-09-30 08:09:13.250000,2.000000e+00,3.080000e+00,1.000000e+00,2.330000e+02,2.330000e+02,2.000000e+00,1.500000e+01,2.500000e+00,5.000000e-01,2.950000e+00,0.000000e+00,3.000000e-01,2.076000e+01,2.500000e+00
max,5.000000e+00,2090-12-31 06:41:26,2090-12-31 07:18:49,9.000000e+00,4.597722e+04,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,9.432748e+05,5.353800e+02,2.124200e+02,1.414920e+05,3.288000e+03,1.000000e+00,1.084772e+06,4.500000e+00
std,4.972603e-01,NaN,NaN,1.207908e+00,8.093902e+00,7.596134e-01,6.604659e+01,7.027667e+01,4.868767e-01,1.741767e+02,1.250638e+00,6.853044e-02,1.563900e+01,1.823344e+00,2.787316e-02,1.838775e+02,8.296499e-01

In [ ]:
df_yellow.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84598444 entries, 0 to 6896316
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            object
dtypes: datetime64[us](2), float64(11), int64(4), object(2)
memory usage: 12.6+ GB

In [ ]:
df_yellow_cast = df_yellow.convert_dtypes()

In [ ]:
df_yellow_cast.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84598444 entries, 0 to 6896316
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               Int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        Int64
 4   trip_distance          Float64
 5   RatecodeID             Int64
 6   store_and_fwd_flag     string
 7   PULocationID           Int64
 8   DOLocationID           Int64
 9   payment_type           Int64
 10  fare_amount            Float64
 11  extra                  Float64
 12  mta_tax                Float64
 13  tip_amount             Float64
 14  tolls_amount           Float64
 15  improvement_surcharge  Float64
 16  total_amount           Float64
 17  congestion_surcharge   Float64
 18  airport_fee            object
dtypes: Float64(9), Int64(6), datetime64[us](2), object(1), string(1)
memory usage: 13.8+ GB

# Green

In [ ]:
df_green = pd.DataFrame()
for year in [2019, 2020]:
    for month in range(1, 13):
        df_green = pd.concat((df_green, pd.read_parquet(f"~/downloads/green_tripdata_{year}-{month:02}.parquet")))

df_green.head()

/var/folders/y0/5f2jwbwn27ng96snkjkltj6h0000gn/T/ipykernel_84497/2968789713.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_green = pd.concat((df_green, pd.read_parquet(f"~/downloads/green_tripdata_2019-{i:02}.parquet")))
/var/folders/y0/5f2jwbwn27ng96snkjkltj6h0000gn/T/ipykernel_84497/2968789713.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_green = pd.concat((df_green, pd.read_parquet(f"~/downloads/green_tripdata_2019-{i:02}.parquet")))
/var/folders/y0/5f2jwbwn27ng96snkjkltj6h0000gn/T/ipykernel_84497/2968789713.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_green = pd.concat((df_green, pd.read_parquet(f"~/downloads/green_tripdata_2019-{i:02}.parquet")))
/var/folders/y0/5f2jwbwn27ng96snkjkltj6h0000gn/T/ipykernel_84497/2968789713.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_green = pd.concat((df_green, pd.read_parquet(f"~/downloads/green_tripdata_2019-{i:02}.parquet")))

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1.0,264,264,5.0,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2.0,1.0,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1.0,97,49,2.0,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1.0,49,189,2.0,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1.0,1.0,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1.0,189,17,2.0,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1.0,1.0,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1.0,82,258,1.0,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,NaN

In [ ]:
df_green.describe()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
count,6.300985e+06,6300985,6300985,5.627847e+06,6.300985e+06,6.300985e+06,5.627847e+06,6.300985e+06,6.300985e+06,6.300985e+06,6.300985e+06,6.300985e+06,6.300985e+06,2217.000000,6.300983e+06,6.300985e+06,5.627847e+06,5.625625e+06,5.081846e+06
mean,1.858115e+00,2019-06-17 04:00:22.938513,2019-06-17 04:22:31.480754,1.186903e+00,1.089954e+02,1.291969e+02,1.310472e+00,3.531442e+00,1.543698e+01,6.237331e-01,4.829754e-01,9.436765e-01,2.901362e-01,0.024628,2.583555e-01,1.832804e+01,1.439934e+00,1.044494e+00,3.975886e-01
min,1.000000e+00,2008-10-21 15:52:05,2008-10-21 15:54:26,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-2.032908e+04,-8.900000e+02,-4.500000e+00,-5.000000e-01,-9.050000e+01,-2.100000e+01,0.000000,-3.000000e-01,-8.903000e+02,1.000000e+00,1.000000e+00,-2.750000e+00
25%,2.000000e+00,2019-03-14 18:19:19,2019-03-14 18:40:40,1.000000e+00,5.200000e+01,6.500000e+01,1.000000e+00,1.100000e+00,7.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,0.000000,3.000000e-01,8.800000e+00,1.000000e+00,1.000000e+00,0.000000e+00
50%,2.000000e+00,2019-06-07 15:02:11,2019-06-07 15:26:19,1.000000e+00,8.200000e+01,1.290000e+02,1.000000e+00,2.050000e+00,1.050000e+01,5.000000e-01,5.000000e-01,0.000000e+00,0.000000e+00,0.000000,3.000000e-01,1.330000e+01,1.000000e+00,1.000000e+00,0.000000e+00
75%,2.000000e+00,2019-09-18 11:48:33,2019-09-18 12:12:00,1.000000e+00,1.660000e+02,1.930000e+02,1.000000e+00,4.290000e+00,1.950000e+01,1.000000e+00,5.000000e-01,1.560000e+00,0.000000e+00,0.000000,3.000000e-01,2.305000e+01,2.000000e+00,1.000000e+00,0.000000e+00
max,5.000000e+00,2062-08-15 00:00:00,2062-08-15 16:34:10,9.900000e+01,2.650000e+02,2.650000e+02,9.000000e+00,7.784376e+04,4.011500e+03,1.375000e+01,1.733000e+01,4.410000e+02,9.355000e+02,1.950000,4.700000e-01,4.012300e+03,5.000000e+00,2.000000e+00,2.750000e+00
std,3.489565e-01,NaN,NaN,8.857558e-01,7.194994e+01,7.645506e+01,9.710610e-01,3.368059e+01,1.413383e+01,9.581348e-01,9.888854e-02,1.984789e+00,1.437311e+00,0.217805,1.061479e-01,1.546341e+01,5.202182e-01,2.061909e-01,9.670983e-01

In [ ]:
df_green.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6300985 entries, 0 to 455293
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   lpep_pickup_datetime   datetime64[us]
 2   lpep_dropoff_datetime  datetime64[us]
 3   store_and_fwd_flag     object
 4   RatecodeID             float64
 5   PULocationID           int64
 6   DOLocationID           int64
 7   passenger_count        float64
 8   trip_distance          float64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  ehail_fee              float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  payment_type           float64
 18  trip_type              float64
 19  congestion_surcharge   float64
dtypes: datetime64[us](2), float64(14), int64(3), object(1)
memory usage: 1009.5+ MB

In [ ]:
df_green_cast = df_green.convert_dtypes()

In [ ]:
df_green_cast.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6300985 entries, 0 to 455293
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               Int64
 1   lpep_pickup_datetime   datetime64[us]
 2   lpep_dropoff_datetime  datetime64[us]
 3   store_and_fwd_flag     string
 4   RatecodeID             Int64
 5   PULocationID           Int64
 6   DOLocationID           Int64
 7   passenger_count        Int64
 8   trip_distance          Float64
 9   fare_amount            Float64
 10  extra                  Float64
 11  mta_tax                Float64
 12  tip_amount             Float64
 13  tolls_amount           Float64
 14  ehail_fee              Float64
 15  improvement_surcharge  Float64
 16  total_amount           Float64
 17  payment_type           Int64
 18  trip_type              Int64
 19  congestion_surcharge   Float64
dtypes: Float64(10), Int64(7), datetime64[us](2), string(1)
memory usage: 1.1 GB