In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").appName("test").getOrCreate()

24/03/17 22:33:20 WARN Utils: Your hostname, cenviiBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.102 instead (on interface en0)
24/03/17 22:33:20 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/17 22:33:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_green = spark.read.parquet("data/pq/green/*/*/")

In [3]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [4]:
df_yellow = spark.read.parquet("data/pq/yellow/*/*/")

In [5]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [6]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [7]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [8]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [9]:
df_green = df_green.withColumnsRenamed(
    {
        "lpep_pickup_datetime": "pickup_datetime",
        "lpep_dropoff_datetime": "dropoff_datetime",
    }
)

In [10]:
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [11]:
df_yellow = df_yellow.withColumnsRenamed(
    {
        "tpep_pickup_datetime": "pickup_datetime",
        "tpep_dropoff_datetime": "dropoff_datetime",
    }
)

In [12]:
df_yellow.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [13]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [14]:
common_columns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [15]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [16]:
from pyspark.sql import functions as F

In [17]:
df_green_sel = df_green.select(common_columns).withColumn(
    "service_type", F.lit("green")
)

In [18]:
df_yellow_sel = df_yellow.select(common_columns).withColumn(
    "service_type", F.lit("yellow")
)

In [19]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [20]:
df_trips_data.groupBy("service_type").count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [21]:
df_trips_data.createOrReplaceTempView("trips_data")

In [22]:
spark.sql("""
select
    service_type,
    count(*)
from trips_data
group by service_type;
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [23]:
df_result = spark.sql("""
select
    -- Revenue grouping
    PULocationID as revenue_zone,
    date_trunc('month', pickup_datetime) as revenue_month,

    service_type,

    -- Revenue calculation
    sum(fare_amount) as revenue_monthly_fare,
    sum(extra) as revenue_monthly_extra,
    sum(mta_tax) as revenue_monthly_mta_tax,
    sum(tip_amount) as revenue_monthly_tip_amount,
    sum(tolls_amount) as revenue_monthly_tolls_amount,
    sum(improvement_surcharge) as revenue_monthly_improvement_surcharge,
    sum(total_amount) as revenue_monthly_total_amount,

    -- Additional calculations
    avg(passenger_count) as avg_monthly_passenger_count,
    avg(trip_distance) as avg_monthly_trip_distance

from trips_data

group by 1, 2, 3
""")

In [24]:
df_result.show()

24/03/17 22:33:33 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|          55|2020-01-01 00:00:00|       green|   66796.46999999987|              2658.25|                  589.5|        225.66000000000008|          1844.5099999999875|                    541.5000000000092|           72709.69000000077|         1.5239206534422405|        9.333281553398075|
|           3|2020-01-01 00:00:00|       green|  12951.510000000033|                885.5|                   87.0|                     44.18|           702.2400000000004|                   135.29999999999941|          14820.079999999976|         1.0987654320987654|         6.40849019607843|
|         181|2020-02-01 00:00:00|       green|   95812.82999999987|              4772.75|                 2947.0|         8803.909999999987|           694.0500000000004|                   1992.8999999998762|          116901.39000000364|          1.290180088345226|       2.9167700487372694|
|          88|2020-02-01 00:00:00|       green|             3366.08|               229.25|                    7.0|                       0.0|          239.43000000000004|                    26.70000000000002|           3868.460000000001|                        1.0|       10.510666666666667|
|          14|2020-01-01 00:00:00|       green|   44186.50999999993|               2549.0|                  345.5|        257.00000000000006|          1285.8899999999962|                    412.2000000000099|                     49090.7|         1.0737704918032787|         6.87679697351829|
|         190|2020-01-01 00:00:00|       green|  3786.0199999999995|                175.0|                   76.5|        242.16000000000003|                       24.48|                    62.69999999999976|           4419.360000000004|         1.4244604316546763|        3.550691244239631|
|         127|2020-01-01 00:00:00|       green|  22044.200000000033|               878.75|                  441.0|         994.0299999999999|          481.67000000000024|                   329.40000000000674|          25470.699999999713|         1.1855309218203034|        4.772682717110913|
|          29|2020-01-01 00:00:00|       green|   25023.05000000002|               1154.5|                  230.0|        116.18999999999998|           802.9200000000005|                    225.0000000000028|           27554.40999999989|         1.1295681063122924|         7.83871275327771|
|         221|2020-01-01 00:00:00|       green|               382.5|                  1.0|                    3.0|                       0.0|           85.67999999999999|                                  2.1|                      474.28|         1.2857142857142858|       12.874285714285715|
|          54|2020-02-01 00:00:00|       green|  2278.5000000000005|               101.75|                   46.5|                    275.05|           85.67999999999999|                    34.80000000000004|                     2947.48|         1.1333333333333333|        4.141065573770491|
|         158|2020-01-01 00:00:00|       green|   360.8500000000001|                13.75|                    0.0|                       0.0|                        30.6|                   2.6999999999999997|                       407.9|                       NULL|                    10.52|
|          95|2020-02-01 00:00:00|       green|  147413.13999999964|               7644.0|                 5606.5|        12523.120000000028|          1893.0499999999927|                    3642.000000000142|          179325.01000000953|         1.3634437086092714|        2.706464851686307|
|         153|2020-02-01 00:00:00|       green|  3847.2900000000004|               286.25|                   57.5|         39.99000000000001|           90.76999999999998|                    58.49999999999998|           4391.300000000003|         1.2222222222222223|       3.9418316831683198|
|           3|2020-02-01 00:00:00|       green|   9758.049999999997|                853.0|                   45.5|                      1.68|           429.6700000000002|                   105.59999999999965|          11204.300000000008|         1.4647887323943662|        6.078140161725066|
|          78|2020-02-01 00:00:00|       green|  17941.400000000038|              1258.25|                  173.0|         68.74000000000001|           814.7500000000005|                   210.30000000000018|          20521.589999999942|         1.1583850931677018|        5.075233644859809|
|         129|2020-01-01 00:00:00|       green|  120756.02999999937|              5641.25|                 4298.0|         5140.960000000003|           1726.009999999989|                   2874.9000000002825|          141258.90000000803|         1.5201231330521034|       2.6745766170169323|
|          61|2020-01-01 00:00:00|       green|   95118.76999999829|               6978.5|                 1236.5|         1176.729999999999|          1145.3799999999983|                   1260.8999999999003|          107306.63000000104|         1.2742130750605327|       3.9018475317642127|
|          56|2020-01-01 00:00:00|       green|  23927.470000000038|               1648.5|                  265.0|        142.15999999999997|           659.4200000000003|                    333.3000000000069|          26997.049999999716|         1.3625498007968126|        4.243021523178806|
|         258|2020-02-01 00:00:00|       green|             8798.47|                698.0|                   43.5|                     69.59|           297.3100000000001|                    87.29999999999981|          10001.620000000003|         1.1363636363636365|        6.450679611650485|
|          43|2020-01-01 00:00:00|       green|   57927.88999999996|              3114.75|                 2532.0|         9246.320000000038|           698.0600000000002|                    1553.399999999856|           84271.52000000405|         1.3527444422585087|         2.40105918406435|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
only showing top 20 rows

In [25]:
df_result.coalesce(1).write.parquet("data/report/revenue/", mode="overwrite")